        h2 {
            font-size: 120%;
        }

        body {
            width: 80%;
            margin-left: 10%; /* TODO - horizontal align ? */
        }

        .hidden {
            display: none;
        }

        div#header {
            width: 100%;
        }

        div#sortBar {
            width: 100%;
            background-color: #fafad2;
            border: solid 1px;
        }

        div#jobs {
            width: 60%;
            border: solid 2px;
            float: left;
        }

        div#body {
            width:60%;
            float: left;
            background: blue;
        }
        div#sidebar {
            width: 30%;
            border: solid 1px;
            float:left;
            background: red;
        }

        .job {
            height: 12em;
            margin: 1em;
            margin-bottom: 1em;
            display: block;
        }

        .job .poster {
            float: left;
            background: red;
            margin: 1em;
            width: 120px;
            display: inline;
        }

        .job .details {
            float: left;
            background: lightgray;
            width: 400px; /* TODO Remove */
            display: inline;
        }

        .job .text {
            border: solid 1px;
            width: 70%;
            padding: 0.5em;
            margin-bottom: 0.5em;
        }

        .job .text p {
        /* TODO - Disable underline */
        }

        .price {
        /*co    lor:#daa520;*/
            color: #ff8c00;
            display: inline;
        }

        img.avatar {
            width: 100px;
            height: 100px;
        }