        h2 {
            font-size: 120%;
        }

        body {
            width: 80%;
            margin-left: 10%; /* TODO - horizontal align ? */
        }

        .hidden {
            display: none;
        }



        /* Main page layout */
        #header {
            width: 100%;
        }
        #content {
            float:left;
        }
        #footer {
            margin-top: 1em;
            clear:both;
        }



        #body {
            width: 600px;
            float: left;
            background: blue;
        }
        div#sortBar {
                    width: 100%;
                    background-color: #fafad2;
                    border: solid 1px;
                }

                div#jobs {
                    border: solid 2px;
                    float: left;
                }

        div#sidebar {
            width: 300px;
            border: solid 1px;
            float:left;
            background: red;
        }

        .job {
            margin: 1em;
            margin-bottom: 1em;
            display: block;
            overflow: hidden;
        }

        .job .poster {
            float: left;
            background: red;
            margin: 0;
            margin-right: 1em;
            width: 120px;
            display: inline;
        }

        .job .details {
            float: left;
            background: lightgray;
            display: inline;
        }

        .job .text {
            border: solid 1px;
            padding: 0.5em;
            margin-bottom: 0.5em;
            width: 400px;
        }

        .job .text p {
        /* TODO - Disable underline */
        }

        .price {
        /*co    lor:#daa520;*/
            color: #ff8c00;
            display: inline;
        }

        img.avatar {
            width: 100px;
            height: 100px;
        }